{% extends "userauth/base.html" %} {% block content %}

<h1 style="text-align: center; margin-top: 2rem;">AVD Bank</h1>
<h4 style="text-align: center;">Demonstration for Permutation Based Unfixed Crypt System</h4>
<div class="container">
    <div class="form main">
        <h2 style="text-align: center;">Manager's Login</h2>
        <form method="POST">
            <!-- <H2>Manager's Login: </H2> -->
            {% csrf_token %} {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %} {% endif %}
            <div class="form-group">
                <label for="username">Authentication  ID: </label>
                <input type="text" name="username" id="username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Passcode: </label>
                <input type="password" name="password" id="password" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-custom">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}