{% extends "admins/base.html" %} {% block content %}
<h1>Deposit</h1>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="account">Enter the Receipant's Account Number</label>
        <input type="text" name="account_number" id="account" class="form-control" />
    </div>
    <div class="form-group">
        <label for="amount">Enter your Amount</label>
        <input type="text" name="amount" id="amount" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary btn-custom">Deposit</button> {% if current_balance %}
    <br>
    <p class="bottom-text">Your Current Balance: {{ current_balance }}</p>
    {% endif %}
</form>
{% endblock content %}